{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}
    <div class="body-container">
        <h1 class="title">Connexion</h1>

        <hr>

        <div style="display: flex; justify-content: center;">
            <div style="min-width: 5em; width: 40em;">
                <form method="post">

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que <strong>{{ app.user.userIdentifier }}</strong>,
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <div style="display: grid; grid-template-columns: 1fr; gap: 1em;">
                        <div>
                            <label for="inputIdentifier">Email / Pseudo</label>
                            <input type="text"
                                   value="{{ last_username }}"
                                   name="_username"
                                   id="inputIdentifier"
                                   class="form-control"
                                   required
                                   autofocus>
                        </div>

                        <div>
                            <label for="password">Mot de passe</label>
                            <input type="password"
                                   name="_password"
                                   id="password"
                                   class="form-control"
                                   autocomplete="current-password"
                                   required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <div class="checkbox mb-3">
                            <input type="checkbox" name="_remember_me" id="_remember_me">
                            <label for="_remember_me">Se souvenir de moi</label>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center;">
                        <button class="generic-button bouton-secondary-color" type="submit" style="width: 100%">
                            Connexion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
