{% extends 'base.html.twig' %}

{% block title %}
    {{ isOwner ? 'Mon profil' : participant.pseudo }}
{% endblock %}

{% block body %}
    <div class="body-container">
        <h1 class="title">
            {% set photoUrl = participant.photo
                ? asset('uploads/photos/' ~ participant.photo)
                : 'https://avatar.iran.liara.run/public/' ~ participant.id ~ '?size=32' %}

            <img src="{{ photoUrl }}" alt="Photo de profil" class="profile-photo" style="width: 100px; height: 100px">

            {{ isOwner ? 'Mon profil' : 'Profil de ' ~ participant.pseudo }}
        </h1>

        <hr>

        <div style="display: flex; justify-content: center;">

                {% if isOwner %}
                    <div class="form-container" style="display: grid; grid-template-columns: 1fr 1fr; gap: 2em;">
                            <div>
                                {{ form_start(profilForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
                                {{ form_row(profilForm.prenom) }}
                                {{ form_row(profilForm.nom) }}
                                {{ form_row(profilForm.telephone) }}
                                {{ form_row(profilForm.site) }}
                            </div>

                            <div>
                                {{ form_row(profilForm.email) }}
                                {{ form_row(profilForm.password) }}
                                {{ form_row(profilForm.confirmPassword) }}
                                {{ form_row(profilForm.photo) }}
                            </div>

                            <div style="grid-column: 1 / -1; display: flex; justify-content: center; gap: 1em;">
                                <button class="generic-button bouton-secondary-color">Enregistrer</button>
                                <a href="{{ path('app_home') }}" class="generic-button bouton-info-color">Retour</a>
                            </div>

                            {{ form_end(profilForm) }}
                    </div>
                {% else %}
                <div class="form-container" style="min-width: 5em; width: 60em;">
                            <p><strong>Prénom :</strong> {{ participant.prenom }}</p>
                            <p><strong>Nom :</strong> {{ participant.nom }}</p>
                            <p><strong>Téléphone :</strong> {{ participant.telephone }}</p>
                            <p><strong>Email :</strong> {{ participant.email }}</p>
                            <p><strong>Site :</strong> {{ participant.site }}</p>

                        <div style="display: flex; justify-content: center;">
                            <a href="{{ path('app_home') }}" class="generic-button bouton-info-color" style="width: 100%;">Retour</a>
                        </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
