{% extends 'base.html.twig' %}

{% block title %}
    {{ isOwner ? 'Mon profil' : participant.pseudo }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1>
                    {{ isOwner ? 'Mon profil' : 'Profil de ' ~ participant.pseudo }}
                </h1>

                <div class="d-flex align-items-center mb-4">
                    {% if participant.photo %}
                        <img src="{{ asset('uploads/photos/' ~ participant.photo) }}" alt="Photo"
                             class="img-thumbnail me-3" width="150">
                    {% else %}
{#                        <img src="{{ asset('images/default.png') }}" alt="Profil"#}
{#                             class="img-thumbnail me-3" width="150">#}
                    {% endif %}
                </div>

                {% if isOwner %}
                    {# Mode édition #}
                    {{ form_start(profilForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
                    {{ form_row(profilForm.prenom) }}
                    {{ form_row(profilForm.nom) }}
                    {{ form_row(profilForm.telephone) }}
                    {{ form_row(profilForm.email) }}
                    {{ form_row(profilForm.password) }}
                    {{ form_row(profilForm.confirmPassword) }}
                    {{ form_row(profilForm.site) }}
                    {{ form_row(profilForm.photo) }}
                    <button class="generic-button bouton-secondary-color">Enregistrer</button>
                    {{ form_end(profilForm) }}
                {% else %}
                    {# Mode lecture seule #}
                    <ul class="list-group mb-3">
                        <li class="list-group-item"><strong>Prénom :</strong> {{ participant.prenom }}</li>
                        <li class="list-group-item"><strong>Nom :</strong> {{ participant.nom }}</li>
                        <li class="list-group-item"><strong>Téléphone :</strong> {{ participant.telephone }}</li>
                        <li class="list-group-item"><strong>Email :</strong> {{ participant.email }}</li>
                        <li class="list-group-item"><strong>Site :</strong> {{ participant.site }}</li>
                    </ul>
                    <a href="{{ path('app_home') }}" class="generic-button bouton-light-color">Retour</a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
