{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard | {{ parent() }}{% endblock %}

{% block body %}
    <div class="body-container">

        <h1 class="title">Administration</h1>

        <hr>

        <h2>Importer des participants</h2>

        {# Résultats d'import CSV #}
        {% if result is defined and result %}
            <div class="information-container">
                <h3>Résultat de l'import</h3>
                {% if result.imported == result.totalToImport and result.totalToImport > 0 %}
                    <p><span class="goodnews-text">{{ result.imported }}/{{ result.totalToImport }}</span> participants importés.</p>
                {% else %}
                    <p><span class="warning-text">{{ result.imported }}/{{ result.totalToImport }}</span> participants importés.</p>
                {% endif %}

                {% if result.errors %}
                    <ul>
                        {% for error in result.errors %}
                            <li class="warning-text">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="csv_file" accept=".csv" required>
            <button class="generic-button bouton-secondary-color" type="submit">Importer</button>
        </form>

        <hr>

        <div style="
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2em;
            margin-top: 2em;
        ">
            <div>
                <h2>Gestion des lieux</h2>
                <div style="display: flex; align-items: baseline;">
                    <p style="margin-right: 0.5em">Vous pouvez ajouter un lieu sélectionnable pour les sorties :</p>
                    <a href="{{ path('admin_gestion_lieux') }}" class="generic-button bouton-secondary-color">Page gestion des lieux</a>
                </div>
            </div>
            <div>
                <h2>Ajouter une ville</h2>
                <div style="display: flex; align-items: baseline;">
                    <p style="margin-right: 0.5em">Vous pouvez ajouter une ville sélectionnable pour les lieux de sortie :</p>
                    <a href="{{ path('admin_ajouter_ville') }}" class="generic-button bouton-secondary-color">Aller au formulaire</a>
                </div>
            </div>
        </div>

        <hr>

        <h2>Gestion des utilisateurs</h2>
        <div >
            <table >
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Actif</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for utilisateur in utilisateurs  %}
                    <tr>
                        <td>{{ utilisateur.pseudo }}</td>
                        <td>{{ utilisateur.nom }}</td>
                        <td>{{ utilisateur.prenom }}</td>
                        <td>{{ utilisateur.email }}</td>
                        <td>{%  if utilisateur.actif %}O {% else %}X {% endif%}</td>
                        <td>{% if utilisateur.administrateur  %} ADMIN {% else %} USER {% endif %}</td>
                        <td>
                            {% if utilisateur.actif %}
                                <form method="post" action="{{ path('admin_desactiver', {'id': utilisateur.id}) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('desactiver'~utilisateur.id) }}">
                                    <button class="btn btn-danger" type="submit">Désactiver</button>
                                </form>
                                {% else %}
                                    <form method="post" action="{{ path('admin_reactiver', {'id': utilisateur.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('reactiver'~utilisateur.id) }}">
                                        <button class="btn btn-primary" type="submit">Réactiver</button>
                                    </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_register') }}" class="generic-button bouton-secondary-color">Ajouter un participant manuellement</a>

    </div>
{% endblock %}
