{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="body-container">
        <h1 class="title">Ajouter un lieu</h1>
            <hr>

            <div style="justify-content: center; display: flex;">
                <div style="min-width: 40em; max-width: 80em;">
                    {{ form_errors(form) }}

                    {{ form_start(form) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.rue) }}
                        {{ form_row(form.latitude) }}
                        {{ form_row(form.longitude) }}
                        {{ form_row(form.ville) }}
                        <button type="submit" class="bouton-secondary-color" style="width: 100%; margin-top: 1.5em">Ajouter</button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
